<launch>	 

	<arg name="gui" default="True" />
	<param name="use_gui" value="$(arg gui)"/>
	<param name="robot_description" command="$(find xacro)/xacro.py $(find arm2r)/urdf/arm2r.urdf.xacro" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find arm2r)/urdf.rviz" />
</launch>
